.product-page
	background-color: #d88826
	min-height: 100vh
	display: flex
	padding: 0 8px
	// &__out
	// 	padding: 0
	&__layout
		// padding: 11px 8px 12px
		position: relative
		max-width: 1904px
		max-height: 937px
		width: 100%
		// height: 100%
		margin: 11px auto
		background: url(../img/product-page_bg.jpg) no-repeat 50% 50%
		background-size: cover
		overflow: hidden
		padding: 0 30px 140px
	&__inner
		position: relative
		max-width: 1414px
		margin: 0 auto
		padding: 124px 0 0
		display: flex
		z-index: 1
	&__corner-img
		position: absolute
		img
			display: block
			width: 100%
		&_left
			left: 0
			top: 0
			max-width: 421px
			max-height: 661px
		&_right
			bottom: 0
			right: 0
		&_center
			left: 38.85%
			bottom: 0
			max-width: 233px
			max-height: 186px
	&__wrap
		flex-basis: 50%
		display: flex
		flex-direction: column
		align-items: flex-end
	&__details
		max-width: 597px
		padding-top: 54px
	&__title
		color: #d59744
		font-size: 48px
		font-family: $montserrat
		max-width: 295px
		margin-bottom: 37px
		font-weight: 600
		line-height: 1.25
	&__text
		margin-bottom: 43px
		color: #737374
		font-family: $montserrat
		font-size: 18px
		line-height: 1.7
		font-weight: 600
	&__list
		&_empty
			+md
				display: none
	&__item
		display: flex
		align-items: center
		justify-content: flex-end
		&:not(:last-child)
			margin-bottom: 30px
		&:first-child
			.ingredient-circle
				&:after
					display: none
	&__img
		position: absolute
		z-index: -1
		img
			display: block
			width: 100%
		&_mango
			max-width: 170px
			max-height: 176px
			// left: 3.45%
			top: 590px
			left: -12.73%
		&_kiwi
			max-width: 77px
			max-height: 78px
			// left: 16.85%
			left: 5.16%
			top: 84px
		&_leaf-1
			max-width: 57px
			max-height: 47px
			// left: 40.12%
			left: 36.139%
			top: 149px
		&_leaf-2
			max-width: 86px
			max-height: 114px
			// left: 41.865%
			left: 38.543%
			top: 639px
		&_leaf-3
			max-width: 51px
			max-height: 54px
			// left: 50.715%
			left: 50.3536%
			top: 278px
		&_leaf-4
			max-width: 94px
			max-height: 122px
			// right: 25.437%
			right: 16.55%
			top: 207px
		&_watermelon
			max-width: 95px
			max-height: 103px
			right: 33.73%
			top: -9px
		&_pineapple
			max-width: 165px
			max-height: 142px
			left: 53.61%
			top: 691px
		&_supportan
			max-width: 307px
			max-height: 642px
			right: 22.2%
			top: 178px
		&_orange
			max-width: 159px
			max-height: 157px
			right: -16.55%
			top: 572px

.ingredient-name
	font-family: $arial
	text-align: right
	line-height: 2
	&_brown
		color: #583b1c
	&_gray
		color: #6e6358
	&_light-brown
		color: #9a7b55
	&_white-brown
		color: #ba9b6f
	&_green
		color: #5da457
	&_dark-green
		color: #32592e
	&_purple
		color: #8792c7
.ingredient-circle
	position: relative
	width: 12px
	height: 12px
	border-radius: 50%
	margin-left: 14px
	&:after
		content: ""
		position: absolute
		background-color: #8b8b8b
		width: 1px
		height: 14px
		top: -32px
		left: 50%
		transform: translateX(-50%)
	&_brown
		background-color: #583b1c
		box-shadow: 0 0 10px 4px rgba(#583b1c,.8)
	&_gray
		background-color: #6e6358
		box-shadow: 0 0 10px 4px rgba(#6e6358,.8)
	&_light-brown
		background-color: #9a7b55
		box-shadow: 0 0 10px 4px rgba(#9a7b55,.8)
	&_white-brown
		background-color: #ba9b6f
		box-shadow: 0 0 10px 4px rgba(#ba9b6f,.8)
	&_green
		background-color: #5da457
		box-shadow: 0 0 10px 4px rgba(#5da457,.8)
	&_dark-green
		background-color: #32592e
		box-shadow: 0 0 10px 4px rgba(#32592e,.8)
	&_purple
		background-color: #8792c7
		box-shadow: 0 0 10px 4px rgba(#8792c7,.8)