body
	font-family: $openSans
	font-size: 16px 
	line-height: 1.4
	// +font-smoothing
	background-color: $white 
	min-width: 1240px 

.title
	font-family: $verdanaBold
	font-size: 60px
	font-weight: 700
	line-height: 1.2 
	
.title-xs
	font-family: $openSans
	font-size: 24px
	font-weight: 700 

.line
	margin: 0 19px
	width: 96px
	height: 3px
	background-color: #e9082f
	vertical-align: middle
	display: inline-block
	&_white
		background-color: $white 