<!-- begin hero -->
<div class="hero">
	<div class="hero__inner inner">
		<div class="hero__slider slider-hero js-slider-hero">
			<div class="slider-hero__slide" style="background-image: url(./img/banner-1.jpg);"></div>
			<div class="slider-hero__slide" style="background-image: url(./img/banner-2.jpg);"></div>
		</div>
		<div class="hero__content">
			<div class="hero__in">
				<div class="hero__wrap">
					<h2 class="hero__title">
						Show Your Support
						<span class="hero__hatch" style="background-image: url(./img/hatch.png);"></span>
					</h2>
					<div class="hero__text">Yuk, beri dukungan nyata untuk kerabat dan keluarga tercinta agar kebutuhan asupan nutrisi mereka tetap terpenuhi dengan baik.</div>
				</div>
			</div>
			<div class="hero__passage passage">
				<span class="passage__img">
					<span class="passage__colors"><img src="./img/colors.png" alt="img"></span>
					<img src="./img/bottle-icon.png" alt="img">
				</span>
				<span class="passage__wrap">
					<span class="passage__title">Lengkapi Kebutuhan Nutrisimu sekarang!</span>
					<a href="#" class="passage__link"><span>Dapatkan di sini</span>{{ mixins.icon('right') }}</a>
				</span>
			</div>
		</div>
	</div>
	<div class="hero__scroll">
		<a href="#" class="btn-scroll js-btn-scroll">
			scroll
			{{ mixins.icon('down') }}
		</a>
	</div>
</div>
<!-- end hero -->