<div class="modal" data-modal="feedback-form">
	<div class="modal__container" data-modal-container>
			<button class="modal__close" data-modal-close>
				{{mixins.icon('close')}}
			</button>
			<div class="feedback" style="background-image: url(./img/modal_bg.jpg)">
				<h3 class="feedback__title">Tanya Di Sini</h3>
				<div class="feedback__text">Tulis pertanyaan kamu seputar produk Supportan di sini</div>
				<form action="" class="feedback__form form">
					<div class="form-control">
						<input type="text" class="input" placeholder="Nama Lengkap">
					</div>
					<div class="form-control">
						<input type="text" class="input" placeholder="Alamat Email">
					</div>
					<div class="form-control">
						<textarea class="input textarea" placeholder="Tulis Pertanyaanmu di sini"></textarea>
					</div>
					<button type="submit" class="btn btn_big btn_orange">submit</button>
				</form>
			</div>
	</div>
</div>