<!-- begin product -->
<div class="product">
	<div class="product__inner">
		<div class="product__left">
			<div class="product__img" style="background-image: url(./img/);"></div>
			<h3 class="product__title title">Our<span class="line"></span>Product</h3>
			<div class="product__text">Supportan Tropical Fruits adalah minuman bernutrisi yang rendah karbo, tinggi protein dan diperkaya asam lemak omega-3 dari minyak ikan, antioksidan juga serat yang tinggi. Supportan bisa membantu pemenuhan kebutuhan nutrisi harian, terutama bagi mereka yang asupan nutrisinya tidak terpenuhi dengan baik..</div>
		</div>
		<div class="product__right">
			<div class="bottle">
				<div class="bottle__img">
					<img src="./img/bottle" alt="bottle">
				</div>
				<ul class="bottle__list">
					<li class="bottle__item bottle__item_top-left">Fish Oil</li>
					<li class="bottle__item bottle__item_top-right">Low Carbo</li>
					<li class="bottle__item bottle__item_bottom-left">EPA</li>
					<li class="bottle__item bottle__item_bottom-right">High Protein</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end product -->