<!-- begin recipes -->
<div class="recipes" style="background-image: url('./img/recipes-img.jpg');">
	<div class="recipes__out">
		<div class="recipes__apple"><img src="./img/apple.png" alt="apple"></div>
		<div class="recipes__broccoli"><img src="./img/broccoli.png" alt="broccoli"></div>
		<div class="recipes__inner">
			<div class="recipes__wrap">
				<h3 class="recipes__title title">
					Healthy Recipes
					<div class="recipes__line line line_white"></div>
				</h3>
				<div class="recipes__text">Yuk coba beragam pilihan resep sehat yang tidak hanya kaya akan nutrisi tapi juga enak untuk dinikmati.</div>
			</div>
			<div class="recipes__footer">
				<a href="#" class="btn">Klik Disini</a>
			</div>
		</div>
	</div>
</div>
<!-- end recipes -->