<!-- begin specification -->
<div class="specification" style="background-image: url(./img/specification-bg.jpg);">
	<div class="specification__inner">
		<div class="specification__wrap">
			<div class="specification__left">
				<div class="specification__content">
					<h3 class="specification__title-sm title-sm">Mango Juice</h3>
					<div class="specification__description">Lihat resep cara membuat mango juice yang enak dan sehat </div>
					<div class="specification__buttons">
						<a href="#" class="btn btn_md btn_blue btn_no-rad">Di sini</a>
					</div>
				</div>
			</div>
			<div class="specification__img-wrap">
				<div class="specification__img">
					<img src="./img/specification.jpg" alt="specification">
				</div>
			</div>
		</div>
		<div class="specification__footer">
			<h3 class="specification__title title-lg text-upper color-blue text-center">LATEST MENU </h3>
		</div>
	</div>
</div>
<!-- end specification -->