.footer
	padding: 100px 0 67px
	color: #0d70b7 
	font-size: 20px
	background-color: #ffe1b7 
	&__copy
		float: left
	&__soc
		float: right
		padding-right: 30px
.soc
	font-size: 0
	line-height: 50px
	&__item
		vertical-align: middle
		display: inline-block
		&:not(:first-child)
			margin-left: 85px
	&__link
		font-size: 34px
		line-height: 1
		color: #0d70b7 
		display: block
		.icon-facebook
			font-size: 42px
		.icon-instagram
			font-size: 37px