<div class="product-page">
	<div class="product-page__layout">
		<div class="product-page__inner">
			<div class="product-page__wrap">
				<div class="product-page__details">
					<div class="product-page__title">Apa itu Supportan?</div>
					<div class="product-page__text">
						<p>Supportan adalah makanan cair kaya nutrisi, rendah 
							karbohidrat, tinggi protein serta mengandung minyak ikan 
							yang dirancang untuk memenuhi kebutuhan nutrisi khusus 
							dan disajikan dalam rasa buah tropis yang enak. Setiap 2 botol 
							Supportan (400ml) mengandung 2 gram EPA yang mampu 
							menurunkan peradangan atau inflamasi, meningkatkan massa 
							otot dan juga imunitas tubuh. Supportan juga mengandung 
							4 gram serat probiotik per botol yang sehingga bisa menjaga 
							fungsi saluran cerna.</p>
					</div>
					<div class="poduct-page__passage passage">
						<span class="passage__img">
							<span class="passage__colors"><img src="./img/colors.png" alt="img"></span>
							<img src="./img/bottle-icon.png" alt="img">
						</span>
						<span class="passage__wrap">
							<span class="passage__title">Lengkapi Kebutuhan Nutrisimu sekarang!</span>
							<a href="#" class="passage__link"><span>Dapatkan di sini</span>{{ mixins.icon('right') }}</a>
						</span>
					</div>
				</div>
			</div>
			<div class="product-page__wrap">
				<ul class="product-page__list">
					{% for item in [
						{
							text: "Copper Molybdenum, Phosphor",
							color: "brown"
						},
						{
							text: "Magnesium, Folic Acid",
							color: "gray"
						},
						{
							text: "Calcium Phosphor, Iodine",
							color: "light-brown"
						},
						{
							text: "Beta Carotene, Vitamin B5",
							color: "white-brown"
						},
						{
							text: "Manganese, Vitamin B3",
							color: "green"
						},
						{
							text: "Chromimum, Vitamin B6",
							color: "dark-green"
						},
						{
							text: "Copper Zinc",
							color: "purple"
						}
					] %}
						<li class="product-page__item">
							<div class="ingredient-name ingredient-name_{{ item.color }}">
								{{ item.text }}
							</div>
							<div class="ingredient-circle ingredient-circle_{{ item.color }}"></div>
						</li>
					{% endfor %}
				</ul>
				<ul class="product-page__list">
					<li class="product-page__item product-page__item_empty">
						<div class="ingredient-circle"></div>
					</li>
					<li class="product-page__item product-page__item_empty">
						<div class="ingredient-circle"></div>
					</li>
					<li class="product-page__item product-page__item_empty">
						<div class="ingredient-circle"></div>
					</li>
					<li class="product-page__item product-page__item_empty">
						<div class="ingredient-circle"></div>
					</li>
					<li class="product-page__item product-page__item_empty">
						<div class="ingredient-circle"></div>
					</li>
				</ul>
			</div>
			<div class="product-page__img product-page__img_mango">
				<img src="./img/mango.png" alt="img">
			</div>
			<div class="product-page__img product-page__img_kiwi">
				<img src="./img/kiwi.png" alt="img">
			</div>
			<div class="product-page__img product-page__img_leaf-1">
				<img src="./img/leaf-1.png" alt="img">
			</div>
			<div class="product-page__img product-page__img_leaf-2">
				<img src="./img/leaf-2.png" alt="img">
			</div>
			<div class="product-page__img product-page__img_leaf-3">
				<img src="./img/leaf-3.png" alt="img">
			</div>
			<div class="product-page__img product-page__img_leaf-4">
				<img src="./img/leaf-4.png" alt="img">
			</div>
			<div class="product-page__img product-page__img_watermelon">
				<img src="./img/watermelon.png" alt="img">
			</div>
			<div class="product-page__img product-page__img_pineapple">
				<img src="./img/pineapple.png" alt="img">
			</div>
			<div class="product-page__img product-page__img_supportan">
				<img src="./img/supportan.png" alt="img">
			</div>
			<div class="product-page__img product-page__img_orange">
				<img src="./img/orange.png" alt="img">
			</div>
		</div>
		<div class="product-page__corner-img product-page__corner-img_left">
			<img src="./img/top-left.png" alt="img">
		</div>
		<div class="product-page__corner-img product-page__corner-img_right">
			<img src="./img/bottom-right.png" alt="img">
		</div>
		<div class="product-page__corner-img product-page__corner-img_center">
			<img src="./img/parsley.png" alt="img">
		</div>
	</div>
</div>